@model Idea1.Models.Idea

@{
    ViewBag.Title = "Delete";
}
<hr />

<h1 class="text-center">Delete to Idea</h1>
<hr />
<a class="btn btn-warning" href="~/Views/ViewAllIdea/Index"> Back to List</a>

<div class="form">
    <h4 class="text-center">Idea: @Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
<style>
    .form {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 425px;
        background-color: #FDF5E6;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(#999, .25);
        padding: .75rem;
    }

    .form-group {
        text-align: center;
    }

</style>