@model IEnumerable<Idea1.Models.Category>

@{
    ViewBag.Title = "Category";
}

<hr />

<h1 class="text-center">List of Category</h1>

<hr />

<p class="text-center">
    <button class="btn btn-success" onclick="location.href='@Url.Action( "Create")'">Create</button>
</p>

<hr />
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.CategoryId })'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                <button class="btn btn-secondary" onclick="location.href='@Url.Action( "Details", new { id = item.CategoryId })'"><i class="fa fa-info" aria-hidden="true"></i> Details</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = item.CategoryId })'"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </td>
        </tr>
    }

</table>
