@model Idea1.Models.Topic

@{
    ViewBag.Title = "Details";
}
<hr />

<h1 class="text-center">Details of Topics</h1>
<hr />
<div class="form">
    <div class="form-horizontal">
        <h4 class="text-center">Detail: @Model.Title </h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastDate)
            </dd>

            <dd>
                 <hr/>
                <button class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = Model.TopicId })'">Edit</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action( "Index")'">Back to Topic</button>
            </dd>
        </dl>
    </div>
</div>

<style>
    .form {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 425px;
        background-color: #FDF5E6;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(#999, .25);
        padding: .75rem;
    }
</style>